body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.display-flex {
  display: flex;
}

.error-label {
  color: red;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}